# SPDX-FileCopyrightText: Copyright (c) 2021 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: latexmk
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  latexmk:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: yegor256/latexmk-action@0.16.1
        with:
          cmd: make
          depends: lecture-notes/DEPENDS.txt
      - uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: package
          clean: false
        if: github.ref == 'refs/heads/master'
